\n# Ignore Python bytecode
__pycache__/
\n# Ignore .ebf files
*.ebf
\n# Ignore notebook checkpoints
.ipynb_checkpoints/
\n# Ignore testing directory
src/testing/
\n# Ignore packages directory
packages/
